<br>
<h4>
    <small>NOTIFICATIONS</small>
</h4>
<hr>
<div class="row">
    <h2>Unread Notifications</h2>
    <p>Your unread notifictions. After you cleared them, you can still see them on the dashboard in the recent table
    </p>
    <hr>

    <button onclick="setToRead()" type="button" class="btn btn-primary">Set all to read</button>


    <table class="table .table-striped">
        <thead>
            <tr>
                <th width="200px">Sender</th>
                <th width="20px">Room</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody id="alertsTableBody">
        </tbody>
    </table>
</div>