<br>
<h4>
    <small>SECURITY CAMERAS</small>
</h4>
<hr>

<h4>Inside Cameras</h4>

<div class="col-md-12">
    <div class="thumbnail">
        <img src="/assets/cam5.jpg" alt="Nature" style="width:100%">
        <div class="caption">
            <h3>Cam - Reception</h3>
            timestamp: 10:00
        </div>
    </div>
</div>

<div class="row"></div>

<h4>Outside Cameras</h4>

<div class="row">
    <div class="col-md-4">
        <div class="thumbnail">
            <img src="/assets/cam1.jpg" alt="Nature" style="width:100%">
            <div class="caption">
                <h5>Parking lot</h5>
                timestamp: 10:02
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <img src="/assets/cam2.jpg" alt="Nature" style="width:100%">
            <div class="caption">
                <h5>Entrance backdoor</h5>
                timestamp: 10:01
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <img src="/assets/cam3.jpg" alt="Nature" style="width:100%">
            <div class="caption">
                <h5>Entrance border</h5>
                timestamp: 9:55
            </div>
        </div>
    </div>
</div>