/* body {
  max-width: 600px;
  margin: 0 auto;
  padding-top: 72px;
  -webkit-font-smoothing: antialiased;
} */

#iCareLogo {
  margin-top: 10px;
  margin-bottom: 10px;
}

li a span {
 margin-right: 10px;

}

